<div class="home__container">
	<app-card
		imagemCover="assets/img/bt-1.jpg"
		gameRotulo="Digital"
		tipoJogo="Digital | PS4"
		valorJogo="R$ 129,99">
	</app-card>

	<app-card
		imagemCover="assets/img/bt-4.jpg"
		gameRotulo="Exclusivo"
		tipoJogo="Disc | PS5"
		valorJogo="R$ 229,99">
	</app-card>


	<app-card
		imagemCover="assets/img/bt-5.jpg"
		gameRotulo="Novo"
		tipoJogo="Digital | PS5"
		valorJogo="R$ 369,99">
</app-card>

<app-card
 imagemCover="assets/img/bt-bad-company-2.jpg"
 gameRotulo="Novo"
 tipoJogo="Digital | PS5"
 valorJogo="R$ 469,99">
</app-card>

<app-card
 imagemCover="assets/img/bt-hardline.jpg"
 gameRotulo="Novo"
 tipoJogo="Digital | PS5"
 valorJogo="R$ 169,99">
</app-card>

<app-card
 imagemCover="assets/img/ac-cover.jpg"
 gameRotulo="Novo"
 tipoJogo="Digital | PS5"
 valorJogo="R$ 369,99">
</app-card>


</div>
